@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AST .NET with Model Biding</h1>
    <p>Using ASP .NET MVC to build the website to track the supply in the clinic.</p>
</div>
